---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Sandy Online Shop for all your needs"
  description="Online store where you can find clothes, shoes, accessories and more"
  keywords="online shop Madagascar, clothes, shoes, accessories, Madagascar"
>
  <div>
    <a href="/products">Shop</a>
  </div>
</Layout>
